[submodule "_vim/bundle/Vundle.vim"]
	path = _vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "/home/ceso/.dotfiles/_antigen"]
	path = /home/ceso/.dotfiles/_antigen
	url = https://github.com/zsh-users/antigen
